div{
  height: 100px;
  width: 100px;
  border: solid 5px;
  text-align: center;
  padding-top: 40px;
  box-sizing: border-box;
  margin-bottom: 5px;
}
#c2{
  position: fixed;
  bottom: 10px;
  left: 1800px;
}
#c3{
  position: absolute;
  left: 150px;
  top: 8px;
}
