div{
  display: inline-block;
  height: 100px;
  width: 200px;
  background-color: #00FF00;
  padding: 10px;
  border-style: double;
  border-width: 5px;
  text-align: center;
}
#c1{
  border-radius: 10px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}
#c2{
  background-image: linear-gradient(red, yellow 55%, red 80%);
}
#c3{
  background-image: radial-gradient(green, yellow 55%);
}
#c4{
  background-image: repeating-radial-gradient(green, yellow 10%);
}
#c5{
  transition-property: color, width, background-color, border-radius;
  transition-duration: .3s;
  transition-timing-function: linear;
  transition-delay: .3s;
}
#c5:hover{
  color: #F30727;
  width: 200px;
  background-color: #000000;
  border-radius: 70px;
}
#c5:active{
  color: #4800AB;
  width: 500px;
  background-color: #00FF00;
  border-radius: 90px;
}
#c6{
  transform: translate(50px, 50px);
}
#c7{
  transform: rotate(10deg);
}
#c8{
  transform: scale(0.8, 1.2);
}
#c9{
  transform: skewX(20deg) skewY(10deg);
}
