h1{
  color: blue;
}
p{
  /*column-count: 4;
  column-gap: 50px;*/
  text-align: justify;
  background-color: pink;
  display: inline-block;
  /*border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;*/
  border-radius: 60px 10px;
  border-style: solid;
  border-width: 5px;
  padding: 30px;
  background-image: linear-gradient(red, yellow 55%, red 80%);
  height: 500px;
}
