header{
  height: 180px;
  text-align: left;
  background-color: #000000;
  color: #FFFFFF;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  border-style: solid;
  border-color: #00FF00;
  border-width: 15px;
  border-top-width: 30px;
  border-bottom-width: 30px;
}
h2{
  text-decoration-line: overline;
  text-decoration-style: double;
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
}
nav{
  height: 70px;
  background-color: #000000;
  padding-top: 20px;
  padding-left: 20px;
  border-style: dashed;
  border-color: #00FF00;
  border-width: 5px;
}
a{
  color: #FFFFFF;
  background-color: #404040;
  display: inline-block;
  height: 30px;
  padding: 10px;
  border-style: double;
  border-color: #00FF00;
  border-width: 3px;
  font-style: italic;
  text-decoration-line: underline;
  text-decoration-style: double;
}
a:hover{
  font-weight: bold;
}
a:link{
  font-style: normal;
}
a:visited{
  color: #9F9F9F;
}
a:active{
  font-style: normal;
  color: #FFF;
}
ul{
  background-color: #404040;
  color: #FFF;
  font-family: sans-serif;
  list-style-image: url("../IMG/Pipo.ico");
  padding-left: 80px;
}
ol{
  list-style-position: inside;
list-style-type: upper-roman;
}
li{
  font-size: 110%;
}
li:hover{
  background-color: magenta;
  font-size: 120%;
}
#lespai{
  letter-spacing: 4px;
}
.wespai{
  word-spacing: 20px;
}
h1,p{
  color: #00FF00;
  background-color: #000000;
}
div > p{
  color: #FFED6B;
}
p:hover{
  background-color: #00006E;
}
#unic:hover{
  background-color: #6B008D;
  font-size: 20px;
}
.ressaltat:hover{
  background-color: #8D0013;
  text-align: center;
}
section img[src$='.png']{
  border-style: solid;
  border-width: 15px;
  border-color: red;
}
img[src$='.jpg']{
  border-style: groove;
  border-width: 10px;
  border-color: green;
}
