*{
  background-color: #404040;
  color: #FFFFFF;
}
header{
  height: 110px;
  text-align: left;
  background-color: #404040;
  color: #FFFFFF;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  border-style: solid;
  border-color: #007f00;
  border-width: 15px;
  border-top-width: 30px;
  border-bottom-width: 30px;
  background-image: linear-gradient(to right, #404040 20%, green);
}
#primerImg{
  float: left;
}
#primerH{
  background-image: linear-gradient(to right, #404040 20%, green);
}
#navegador{
  height: 70px;
  background-color: #404040;
  padding-top: 20px;
  padding-left: 20px;
  border-style: dashed;
  border-color: #00FF00;
  border-width: 5px;
  text-align: center;
  font-size: 20px;
}
.nav1{
  color: #FFFFFF;
  background-color: #404040;
  display: inline-block;
  height: 30px;
  padding: 10px;
  border-style: double;
  border-color: #00FF00;
  border-width: 3px;
  font-style: italic;
  text-decoration-line: underline;
  text-decoration-style: double;
  transform: skewX(20deg);
}
.nav1:hover{
  font-weight: bold;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
figure{
  display: block;
  text-align: right;
}
.izq{
  display: block;
  text-align: left;
}
#Hindex{
  text-align: left;
}
#index{
  height: 250px;
  width: 250px;
  background-color: #000000;
  padding-top: 20px;
  padding-left: 20px;
  border-style: dashed;
  border-color: #00FF00;
  border-width: 5px;
  font-size: 20px;
}
.nav2{
  color: #FFFFFF;
  background-color: #404040;
  display: inline-block;
  height: 30px;
  padding: 10px;
  border-style: double;
  border-color: #00FF00;
  border-width: 3px;
  font-style: italic;
  text-decoration-line: underline;
  text-decoration-style: double;
}
.nav2:hover{
  font-weight: bold;
}
p:hover{
  background-color: #FFFFFF;
  color: #000000;
  font-weight: bold;
  padding: 10px;
  font-size: 18px;
}
#empresas:hover{
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  padding: 0px;
  font-size: 16px;
}
