h1 {
    color: #000;
    background-color: yellow;
    padding: 50px;
    border-width: 100px 10px;
    border-style: solid;
    border-top-color: red;
    border-bottom-color: red;
    border-left-color: green;
    border-right-color: green;
    margin: 0px 600px;
    text-align: center;
}

a {
    font-size: 30px;
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
    background-color: black;
    height: 100px;
    width: 175px;
    display: inline-block;
    border: 10px solid;
}
a:link{
  color: red;
}
a:visited{
  color: gold;
}
a:hover{
  color: green;
}
a:active{
  color: white;
}
h1,p{
  color: blue;
}
div > p{
  color: orange;
}
ul{
  padding-left: 80px;
}
li{
  color: red;
  font-size: 30px;
  list-style-image: url("../IMG/Pipo.ico");
}
p:hover{
  background-color: magenta;
}
#unic:hover{
  background-color: red;
  font-size: 20px;
}
.ressaltat:hover{
  background-color: green;
  text-align: center;
}
img[src$='.png']{
  border-style: solid;
  border-width: 15px;
  border-color: red;
}
img[src$='.jpg']{
  border-style: dotted;
  border-width: 10px;
  border-color: green;
}
