.ficha{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px;
}
h1{
    text-align: center;
    margin-bottom: 0px;
    width: 50%;
    margin: auto;
    padding: 20px;
}
.atributos{
    width: 50%;
    margin: auto;
    text-align: left;
}
.imagenficha{
    width: 50%;
    border-radius: 5px;
}
strong{
    margin-right: 12px;
}
p{
    padding: 5px;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 5px;
}
.Guerrero{
    background: #9e0000;
}
.Mago{
    background: #2b2bff;
}
.Arquero{
    background: #008000;
}
.Picaro{
    background: #c7c700;
}
.cr {
    text-align: center;
    font-size: 13px;
}
#idformulario{
    width: 50%;
    margin: auto;
    padding: 20px;
    background: rgb(178, 252, 252);
}